*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1300px;
	margin:auto;
	padding-left: 25px;
	padding-right: 25px;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}

.logo h1{
	color: white;
}


nav{
	flex:1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #fff;
}

p{
	color:rgb(118, 63, 163);
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}

.btn{
	display: inline-block;
	background:rgb(118, 63, 163) ;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	color: white;
}

.header{
	background: radial-gradient(#fff, rgb(31, 2, 54)) ;
}

.header .row{
	margin-top: 70px;
}

.btn:hover{
	background:rgb(31, 2, 54);
}

/*fim de header*/

.categories{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img{
	width: 100%;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0,5s;
}

.col-4 img{
	width: 100%;
	height: 325px;
	
}

.col-4 h4{
	color:rgb(118, 63, 163);
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color:rgb(118, 63, 163);
}

.title::after{
	content: '';
	background: rgb(43, 0, 78);
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.col-4 p{
	font-size: 14px;
}

.col-4:hover{
	transform: translateY(-5px)
}

.offer h1{
	color:rgb(31, 2, 54);
}

.offer p{
	color:rgb(31, 2, 54);
}

.offer small{
	color:rgb(43, 0, 78);
}

/*-----patrocinio-----*/

.brands{
	margin: 100px auto;
}

.col-5{
	width: 160px;

}

.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover{
	filter: grayscale(0);
}

.menu-icon{
	width:28px;
	margin-left: 20px;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-top: 100px;
  }

/*pagina de produtos*/

.row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}

select{
	border: 2px solid rgb(43, 0, 78);
	padding: 5px;
}

select:focus{
	outline: none;
}

.page-btn{
	margin: 0 auto 80px;
}

.page-btn span{
	display: inline-block;
	border:rgb(43, 0, 78) 1px solid;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align:center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover{
	background:rgb(43, 0, 78);
	color: white;
}


.single-product{
	margin-top: 80px;
}

.single-product .col-2 img{
	padding: 0;
}

.single-product .col-2{
	padding: 20px;
}

.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}

.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid rgb(31, 2, 54);
}

input:focus{
	outline: none;
}

.small-img-row{
	display: flex;
	justify-content: space-between;
}

.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}

.cart-page {
	margin: 80px auto;
}

table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.cart-info{
	display: flex;
	flex-wrap: wrap;
}

th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background:rgb(43, 0, 78);
	
}

td{
	padding: 10px 5px;
}

td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}

td a{
	color:rgb(43, 0, 78);
	font-size: 12px;
}

td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.total-price{
	display: flex;
	justify-content: flex-end;
}

.total-price table{
	border-top: 3px solid rgb(43, 0, 78);
	width: 100%;
	max-width: 350 px;
}

td:last-child{
	text-align: right;
}

th:last-child{
	text-align: right;
}

/*account*/

.account-page{
	padding: 50px 0;
	background: radial-gradient(#fff, rgb(31, 2, 54));
}

.header-account h1{
	color:rgb(43, 0, 78);
}

.header-account a{
	color:rgb(31, 2, 54);
}

.form-container{
	background: #fff;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	overflow: hidden;
}

.form-container span{
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: inline-block
}

.form-btn{
	display: inline-block;

}

.form-container form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;

}

form input{
	width:100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}

form .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

form .btn:focus{
	outline: none;
}


#Login{
	left: -300px;
}

#Register{
	left: 0;
}

form a{
	font-size: 12px;
	color:rgb(31, 2, 54);
}

#indicador{
	width: 100px;
	border: none;
	background:rgb(31, 2, 54);
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}

.form-btn h2{
	color:rgb(31, 2, 54);
}

#text{
	height: 75px;
	width: 255px;
	padding: 5px;
}

.page-btn a{
	color:rgb(31, 2, 54);
}

